@font-face {
 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
body {  
  background-color: black;
  color: black;
  
}
.titteli{
  font-family: 'Dystopia', sans-serif; 
  background-image: url(images/25.jpg);  
  
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tausta{
  background-color: rgb(252, 248, 248);
    background-image: url(images/gplay.png);
}
.ylos{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
}

.kuvateksti{  
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  text-shadow: 2px 2px #000000;
}

.checked {
  color: orange;
}

.list{
  list-style-type:none;
}
